

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   a { text-decoration: none }
   a:hover, a:visited {color: #fff; text-decoration: none;}
   
   .jumbotron {
    box-sizing: border-box;
    height: 600px;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .main-button-container {
    margin-top: 175px;
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
  
  }
  .startButton{
    position: absolute;
    top: 300px;
    left: 525px;
    margin-top: 175px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #3877aa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font-family: "Roboto";
    

  }

  .next-button-container {
    margin-top: 175px;
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
  
  }
  .button-container {
    display: flex;  
    justify-content: center;  
    align-items: center;  
  }
  
  .timer-p {
    margin-top: 40px;
  }
  
  .answer:hover {
    background: pink;
  }
  
  .answer {
    padding-top: 7px;
    height: 45px;
    color: black;
    padding-left: 14px;
    background-color: white;
    border-radius: 4px;
  }
  
  .img-wrong {
    margin-top: 40px;
  }
  
  .first-answer {
    margin-top: 40px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 40px;
  }
  
  body {
    color: white;
  }
  .next-button {
    background-color: #3877aa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-family: "Lucida Console";
  }
  
  .back-button {
    background-color: #3877aa; /* Green */
    border: none;
    color: white;
    padding: px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    border: 2px solid #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-family: "Roboto";
  }
  .rookie-button {
    background-color: #3877aa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    width: 500px;
    border: 2px solid #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-family: "Roboto";
  }
  .intermediate-button{
    background-color: #3877aa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    width: 500px;
    border: 2px solid #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-family: "Roboto";
  }
  .experienced-button{
    background-color: #3877aa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    width: 500px;
    border: 2px solid #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-family: "Roboto";
  }
  
  body {
    background: #ffab2f;
    height: 100vh;
    overflow: hidden;
    font-family: "Roboto";
    
  }
  
  .space {
    background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  


  

  body img{
    display:block;
    margin-left: auto;
    margin-right: auto;
  
  
  }
  .ul{
      font:45px "Arial", san-serif;
  }
  
  @keyframes space {
    40% {
      opacity: 0.75;
    }
    50% {
      opacity: 0.25;
    }
    60% {
      opacity: 0.75;
    }
    100% {
      transform: rotate(360deg);
    }


  
  }