

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   a { text-decoration: none }
   a:hover {color: #fff; text-decoration: none; background: #000;}
   
   .jumbotron {
    box-sizing: border-box;
    height: 600px;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .main-button-container {
    margin-top: 175px;
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
  
  }

  .lesson-card {
    background-color: #fff;
    padding: 50px ;
    border-radius: 40px;
    margin-top: 50px; 
    max-height: 500px; 
}

.lesson-header1 {
font-size: 35px;
  font-weight: 600;
  color: #3777aa !important;
  text-align: center;
  margin-bottom: 30px
}
.main-header, .lesson-header2, .objectives {
  text-align: center;
  color:  #000!important;
}

.objectives {
      font-size: 24px;
  line-height: 34px;
  text-align: justify !important;
}
.startButton{
  color: white;
  background-color: #3877aa; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
  font-family: "Roboto";
  box-shadow: 5px 5px 0px 0px rgb(255, 255, 255)

}

.next-button-container {
  margin-top: 175px;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;

}

  .logo img {
    width: 250px;
}

.experienceArea {
    color: #000;
}
.button-container {
  display: flex;  
  justify-content: center;  
  align-items: center;  
}

ul.result-display li {
  display: inline-block;
  background: #fff;
  text-align: center;
  padding: 35px;
  font-size: 16px;
  overflow: hidden;
  margin: 17px;
  color: #000;
  border-radius: 15px;
  position: relative;
}

span.result-number {
  font-size: 50px;
}

.result-display {
  margin-top: 80px;
  margin-bottom: 20px;
}

.lesson-content{
  color:  #000;
  text-align: justify;
  margin-bottom: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.timer-p {
  margin-top: 40px;
  color: #3877aa;
  border-radius: 50%;
  width: 75px;
  height: 75px;
      font-weight: 900!important;
  font-size: 40px!important;
  border: 5px solid #fff;
  background-color: transparent;
  font-family: "Roboto";
  text-align: center; line-height: 70px;
  position: relative; left: 350px;
}

.lesson-title {
  color:  #000!important;
  margin-bottom:  30px;
}
.logo {
      font-family: Georgia, 'Times New Roman', Times, serif; 
      font-size: 400%;
      text-align: center;
      color:  #000;
}

.title {
    color:  #000;
    text-align: center;
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.answer:hover {
  background: #3877aa;
  color: #fff;
}

.answer {
  padding-top: 7px;
  padding-left: 14px;;
  height: 45px;
  width: 525px;;
  color: black;
  background-color: white;
  border-radius: 50px;
  font-family: "Roboto";
  color:#3877aa;
  position: relative; top: auto; left: 15%;

}

.img-wrong {
  margin-top: 40px;
}

.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
}

body {
  color: white;
}
.next-button {
  background-color: #3877aa; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
  font-family: "Roboto";
}

.back-button {
  background-color: #3877aa; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
  font-family: "Roboto";
}
.rookie-button, .intermediate-button, .experienced-button 
{
  background-color: #3877aa; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 38px;
  width: 300px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
  font-family: "Roboto";
}
.locked-button{
  background-color: #bab3b3; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 38px;
  width: 300px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
  font-family: "Roboto";
}

body {
  background: #ffab2f;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto";
  
}

.space {
  background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

mark.red {
  color: red;
  background: none;
}

mark.green {
  color:green;
  background:none
}


body img{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.ul{
    font:45px "Arial", san-serif;
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }



}