

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
  box-sizing: border-box;
  height: 600px;
  background-color: rgba(0, 0, 0, 0);
}

.main-button-container {
  margin-top: 175px;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;

}
.startButton{
  margin-top: 175px;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.next-button-container {
  margin-top: 175px;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;

}
.button-container {
  display: flex;  
  justify-content: center;  
  align-items: center;  
}

.timer-p {
  margin-top: 40px;
}

.answer:hover {
  background: pink;
}

.answer {
  padding-top: 7px;
  height: 45px;
  color: black;
  padding-left: 14px;
  background-color: white;
  border-radius: 4px;
}

.img-wrong {
  margin-top: 40px;
}

.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
}

body {
  background-color: #690202;
  color: white;
}
.next-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.back-button {
  background-color: #17165f; /* Green */
  border: none;
  color: white;
  padding: px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
}